.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/background.jpg'); /* Updated path */
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.get-started-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.get-started-btn:hover {
  background-color: #218838;
}